body {
    background-color: #f7ddef;  
    }   
    
  .main-image {
    float: left;
    width: 300px;
    margin: 0 1rem 1rem 0;
    }
  .main-image {
        width: 500px;
        border: 10 px inset;
      }
      .resize main-image{
        width: 200px;
        height: auto;
      }
      p{
      font-family: cursive;
      font size: 30 px;
      color: black;
      font-style: italic;
    }
  
     #topic {
        color: rgb(255, 255, 255);
        background-color: rgb(3, 3, 3);
     }
     #INFO {
      color: rgb(255, 255, 255);
      background-color: rgb(3, 3, 3);
   }