body {
    background-color: #f7ddef;  
    }   
body{
      cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
    }
  .main-image {
    float: left;
    width: 500px;
    margin: 0 1rem 1rem 0;
    border-radius: 100px ;
    border-style: solid;
    }
  
      p{
      font-family: cursive;
      font size: 30 px;
      color: white;
      font-style: italic;
      text-align: center;
    }
  
     #topic {
        color: rgb(255, 255, 255);
        background-color: rgb(3, 3, 3);
     }
     #id {
       color:rgb(255, 255, 255);
       background-color:rgb(3, 3, 3);
     }

     .INFO {
       background-color: black;
       border-radius: 10;
       border-style: dotted;
       border-color: white;
     }
  
   
