body {
    background-color: #f7ddef;  
    cursor: url('https://pngimg.com/uploads/heart/heart_PNG51328.png'), url('https://pngimg.com/uploads/heart/heart_PNG51352.png'), 
    auto;
}

  .main-image {
    float: left;
    width: 500px;
    margin: 0 1rem 1rem 0;
    border-radius: 100px ;
    border-style: solid;
  }
  
     #topic {
        color: rgb(255, 255, 255);
        background-color: rgb(198, 236, 252);
     }
     # {
       color:rgb(255, 255, 255);
       background-color:rgb(3, 3, 3);
     }
     .aboutme {
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
       font-size: 100;
      }

     .INFO {
       background-color: black;
       border-radius: 10;
       border-style: dotted;
       border-color: white;
       font-family: cursive;
       font-size: 30 px;
       color: white;
       font-style: italic;
       text-align: center;
      }

     .Myprojects {
       text-align: left;
       font-size: 30px;
       font-family:fantasy;
     }

    .linkimage{
      border-radius: 100px ;
      border-style: solid;
    }
     .unorderlist {
       background-color: #f3df6f;
       border-radius: 10;
       border-style: double;
       border-color: rgb(133, 224, 252);
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: brown;
       font-size: 30 px;
       text-align: left;
       
     }


     .ContactMe {
       text-align: right;
       font-size: 50px;
       font-family:monospace;
     }

     .contactinfo {
      background-color: brown;
      border-radius: 10;
      border-style: dashed;
      border-color: yellow;
      color: yellow;
      font-size: 30 px;
      text-align: right;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }
     .linkimage2{
      border-radius: 100px ;
    border-style: solid;
     }
   

